"*":
  editor:
    invisibles: {}
    showIndentGuide: true
  core:
    disabledPackages: [
      "achievements"
      "incremental-search"
      "minimap"
      "linter-jsxhint"
      "linter-less"
      "linter-eslint"
    ]
    themes: [
      "nucleus-dark-ui"
      "atom-gooey-syntax"
    ]
    audioBeep: false
  linter:
    lintOnChange: false
    lintOnEditorFocus: false
    showErrorInline: false
    lintOnFly: false
  "exception-reporting":
    userId: "e61f6830-23ef-e75c-9b6a-0332363e4385"
  welcome:
    showOnStartup: false
  "haskell-ghc-mod": {}
  "base16-syntax":
    scheme: "Tube"
    style: "Light"
  "vim-mode": {}
  "relative-line-numbers":
    showNormalLineNumbers: false
  "one-dark-ui": {}
  "go-plus":
    lintOnSave: false
    goPath: "~/Development/Gocode"
  "autocomplete-plus": {}
  "language-babel":
    transpileOnSave: false
  "linter-jsxhint":
    harmony: true
  react: {}
  rspec:
    command: "bundle exec bin/rspec"
  "ruby-test":
    shell: "zsh"
    testAllCommand: "bundle exec rake"
    rspecAllCommand: "bundle exec bin/rspec spec"
    rspecSingleCommand: "bundle exec bin/rspec --tty {relative_path}:{line_number}"
    rspecFileCommand: "bundle exec bin/rspec --tty {relative_path}"
    cucumberAllCommand: "bundle exec cucumber features"
  tabs: {}
  "circle-ci": {}
  "linter-jshint": {}
  achievements: {}
  "tree-view":
    hideIgnoredNames: true
  "isotope-ui":
    fontFamily: "Roboto"
    minimalMode: true
  "fuzzy-finder": {}
  minimap:
    plugins:
      "git-diff": true
      bookmarks: true
  "linter-scss-lint": {}
  "linter-rubocop": {}
  "merge-conflicts": {}
  "rails-rspec": {}
  "atom-material-ui":
    altCmdPalette: true
    depth: true
    panelContrast: true
    slimScrollbar: true
    disableAnimations: true
  Zen:
    fullscreen: false
    tabs: "multiple"
    showWordCount: "Left"
  tasks: {}
  pigments:
    sortPaletteColors: "by color"
  "find-and-replace":
    scrollToResultOnLiveSearch: true
  "linter-eslint":
    globalNodePath: "/usr/local"
    eslintRulesDir: "~/"
    useGlobalEslint: true
  fonts:
    fontFamily: "FiraCode"
  "markdown-preview":
    useGitHubStyle: true
  "one-light-ui": {}
  "vim-surround": {}
  "imdone-atom": {}
  "tool-bar":
    position: "Left"
    visible: false
  "flex-tool-bar": {}
  "ide-haskell": {}
  "autocomplete-elixir":
    erlangHome: "/usr/local/bin"
    elixirPath: "/usr/local/bin"
".js.jsx.source":
  editor:
    autoIndent: true
".go.source":
  editor:
    tabLength: 8
