# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * https://atom.io/docs/latest/customizing-atom#customizing-key-bindings
# * https://atom.io/docs/latest/advanced/keymaps
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it here:
# https://github.com/bevry/cson#what-is-cson

#................................................
# Escape insert mode quickly
#................................................
'atom-text-editor.vim-mode.insert-mode':
  'k j': 'vim-mode:activate-normal-mode'

'atom-text-editor.vim-mode:not(.insert-mode)':
  'ctrl-l': 'window:focus-pane-on-right'
  'ctrl-h': 'window:focus-pane-on-left'
  'ctrl-k': 'window:focus-pane-above'
  'ctrl-j': 'window:focus-pane-below'
  'shift-cmd-g': 'git-plus:menu'
  'cmd-shift-h': 'dash:shortcut'
  'ctrl-shift-cmd-h': 'dash:shortcut-background'

'atom-text-editor.ide-haskell-repl':
  'ctrl-l': 'window:focus-pane-on-right'
  'ctrl-h': 'window:focus-pane-on-left'
  'ctrl-k': 'window:focus-pane-above'
  'ctrl-j': 'window:focus-pane-below'

'atom-text-editor:not([mini])':
  'alt-t': 'open-tasks'
  'ctrl-i': 'elixir-docs:finddoc'

'atom-text-editor[data-grammar="source gfm"]:not([mini])':
  'tab':        'markdown-folder:dwim-toggle'
  'alt-c':      'markdown-folder:cycle'
  'ctrl-alt-c': 'markdown-folder:cycleall'
  'alt-x':      'markdown-folder:togglefenced'
  'ctrl-alt-x': 'markdown-folder:toggleallfenced'
  'alt-t':      'markdown-folder:toggle'
  'ctrl-alt-1': 'markdown-folder:foldall-h1'
  'ctrl-alt-2': 'markdown-folder:foldall-h2'
  'ctrl-alt-3': 'markdown-folder:foldall-h3'
  'ctrl-alt-4': 'markdown-folder:foldall-h4'
  'ctrl-alt-5': 'markdown-folder:foldall-h5'
